<!doctype html>
<html lang="en" ng-app="gotStatsApp">
	<head>
		<title>G0t Stats?</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/go_loading.css">

		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.js" type="text/javascript"></script>

		<!-- App -->
		<script src="js/app.js"></script>
		<script src="js/utilities.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/directives.js"></script>
	</head>
	<body data-spy="scroll" data-target=".navi"  data-offset="200">
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1><a href="http://online-go.com" target="_blank"><img src="https://a00ce0086bda2213e89f-570db0116da8eb5fdc3ce95006e46d28.ssl.cf1.rackcdn.com/4.0/img/ogslogo.png" alt="OGS logo"/></a> statistics <span ng-show="$root.player">for player {{$root.player.username}} ({{$root.player.rank}})</span></h1>
					</div>
				</div>
			</div>
		</header>

		<div class="container stats_content">
			<div class="row">
					<div class="col-sm-9" ng-view>
						This page is intentionally left blank.
					</div>

					<div class="col-sm-3 sidebar" ng-controller="SidebarController">
						<nav class="side_nav" data-spy="affix" data-offset-top="95">
							<form name="searchForm" data-ng-submit="getUserStatistic()" novalidate class="row">
									<div class="col-xs-7"><input name="id" data-ng-model="searchId" placeholder="Enter user ID"  type="text" class="form-control" aria-describedby="basic-addon2"></div>
									<div class="col-xs-5"><p><button class="btn btn-primary btn-block">g0t Stats?</button></p></div>

							</form>

							<small class="tip"><em>*Tip: mouse over a chart to see more info.</em></small>

							<div class="navi hidden-sm hidden-xs" ng-hide="!$root.ready">
								<ul class="nav navi_list">
									<li><a href="#total_games_stats" ng-click="scrollTo('total_games_stats')" onclick="event.preventDefault();">Total games played on OGS</a></li>
									<li><a href="#ranked_games_stats" ng-click="scrollTo('ranked_games_stats')" onclick="event.preventDefault();">Ranked games</a></li>
									<li><a href="#unranked_games_stats" ng-click="scrollTo('unranked_games_stats')" onclick="event.preventDefault();">Unranked games</a></li>
									<li><a href="#board_sizes_stats" ng-click="scrollTo('board_sizes_stats')" onclick="event.preventDefault();">Performance across board sizes</a></li>
									<li><a href="#opponents_stats" ng-click="scrollTo('opponents_stats')" onclick="event.preventDefault();">Opponents</a></li>
								</ul>
							</div>
						</div>
				</nav>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<small><em>"G0t Stats?" analytics tool for <a target="_blank" href="www.online-go.com">OGS</a> by Chinitsu (aka AVAVT), extending from sefo's original idea.</em></small>
					</div>
					<div class="col-sm-4 text-right">
						<small><a href="http://vatcss.info">Back to main site</a></small>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
