<div>
	<h2>Welcome!</h2>
	<h4 class="instruction">Start by entering username or ID into the search field on the right.</h4>
	<p><em>Username search is case-sensitive (it's Chinitsu, not chinitsu), and only works if the entire username is not a number for obvious reason. In those case, please use user id instead. You can easily find it in the profile page.</em></p>
	<p><em>Example: my profile page is <em>https://online-go.com/user/view/197819/Chinitsu</em>, meaning my user ID is 197819.</em></p>
</div>
